<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Registration of the guest</title>
</head>

<body>
    <h1>Création d'une fiche passager.ère</h1>

    {% if submitted %}
    <p>Your message was submitted successfully. Thank you.</p>
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        <h2>Informations personnelles :</h2>
        {{ guest_form.as_p }}
        </br>
        <input type="submit" value="Envoyer la fiche">
    </form>
    {% endif %}
</body>

</html>