<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Stock initial des goodies</title>
</head>

<body>
    <h1>Inventaire du stock initial des goodies</h1>

    {% if submitted %}
    <p>Your message was submitted successfully. Thank you.</p>
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        <h2>Renseigner les quantités en stock de chaque goody au départ du voyage à mentionner :</h2>
        </br>
        <h3>Goodies :</h3>       
        {% for goody in goodies %}
            <p>
                {{ goody }}
            </p>
            <h3>
                Quantité
            </h3>
            <p>
                {{ quantity_form }}
            </p>
            <input type="hidden" name="quantity_form" value="{{ goodie.pk }}" />
            <input type="hidden" name="quantity_form" value="{{ quantity_form }}" />
        {% endfor %}
        </br></br>
        <input type="hidden" name="action" value="goodies_initial_stocks" />
        <input type="submit" name="apply" value="Valider le stock initial des goodies" />
    </form>
    {% endif %}
</body>

</html>